# Tuple

### tuple are same as list but having slight difference in it 
### Tuples are ordered, unchangeable and allow duplicate values in it.

#### Create Tuples

In [3]:
my_tuple = ("animal" , "birds" , "fruits" , "Flowers")
print(my_tuple)

('animal', 'birds', 'fruits', 'Flowers')

In [5]:
# access tuple elements by index
print(my_tuple[2])

fruits

In [6]:
# chnage elements of the tuple
my_tuple[5] = "vegetable"
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [7]:
my_tuple.insert(4 , "insects")
print(my_tuple)

AttributeError: 'tuple' object has no attribute 'insert'

### One item Tuple
Remember to create one item tuple add commas at last

In [10]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

### The tuple() Constructor
It is also possible to use the tuple() constructor to make a tuple.

In [11]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

## Bild-in Method in tuple
##### index() :- Find in the tuple and returns the index of the given value where itâ€™s available
##### count() :- Returns the frequency of occurrence of a specified value

In [15]:
new_tuple = [ 1 , 85 , 4 , 74 , 65, -45 ,8. , 45 , 85]
print(new_tuple.index(4))
print(new_tuple.index(85 , 4 ))

2
8

In [17]:

# count
num = int(input("enter the element : "))
print("count the occurance : " , new_tuple.count(num))

enter the element : 8
count the occurance :  1