# List

#### Create a List

##### List can contain all the data-types

In [1]:
mylist = []
print(mylist)

[]

In [2]:
mylist = ["harshali " , "pratik " , 45 , 484.5]
print(mylist)

['harshali ', 'pratik ', 45, 484.5]

In [3]:
# how to create a list of lenght 5 containing all zeros or ones
zero_list = [0]*5
print(zero_list)

[0, 0, 0, 0, 0]

In [4]:
# list of name 
same_name = ["Minu"] * 10
print(same_name)

['Minu', 'Minu', 'Minu', 'Minu', 'Minu', 'Minu', 'Minu', 'Minu', 'Minu', 'Minu']

### list Can contain another list in it called as nested list

In [5]:
nested_list = [[1,2,5,2,] , [45 ,85.2 , "Dog"]]
print(nested_list)

[[1, 2, 5, 2], [45, 85.2, 'Dog']]

#### list are ordered i.e is every elements in the object have index value

In [6]:
orderList = [1 , 45 , 85 , 74 , 66 , 28]
# index 0 pointed to the first element of the list
a = orderList[0]
print(a)

1

In [7]:
print(orderList[5])

28

In [11]:
# add two elements at the index position 4 and 5
add = orderList[4] + orderList[5]
print(add)

94

if we tried to access list elements out of the given range then it gives an error

In [13]:
my = [1 ,2 , 6 , 8 , 69]
print(my[5])

IndexError: list index out of range

#### List are changeable 
##### we can add the elements in the list

In [14]:
my = [1 ,2 , 6 , 8 , 69]
my.append(45)
print(my)

[1, 2, 6, 8, 69, 45]

In [15]:
# add element to the specific postion
my.insert(0 , "dog")
print(my)

['dog', 1, 2, 6, 8, 69, 45]

In [16]:
my.insert(5 , "cat")
print(my)

['dog', 1, 2, 6, 8, 'cat', 69, 45]

list can *extend* by adding another list at the end by using extend method

In [19]:
animal = ["dog" , "cow" , "cat"]
more_animal = ["monkey" , "ox" , "bull" , "sparrow"]
animal.extend(more_animal)
print(animal)

['dog', 'cow', 'cat', 'monkey', 'ox', 'bull', 'sparrow']

In [ ]:
# can we insert another list at specified index ??

In [20]:
a = [4 , 8 , 65 , 77 , 45]
b = ["dog" , "cat"]
a.insert(2 , b)
print(a)

[4, 8, ['dog', 'cat'], 65, 77, 45]

#### The list() Constructor
It is also possible to use the list() constructor when creating a new list.

In [23]:
new_list = list(("sun" , "moon" , "star" , "earth"))
print(new_list)

# to know the type of the list we can use type() function
print(type(new_list))

['sun', 'moon', 'star', 'earth']
<class 'list'>

# List Comprehension

In [25]:
#create a list of number from 1 to 15
num = [ x for x in range(16)]
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [27]:
# create a list of containing square from 1 to 10
num2 = [ a*a for a in range(1 , 11)]
print(num2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
# create a list of even numbers
even = [a for a in range (0 , 11) if a%2==0]
print(even)

[0, 2, 4, 6, 8, 10]

#### List Compreshension using nested list

In [31]:
a = [4 , 5 , 6 , 8]
b = [5 ,8 ,9 ,4 ,10]
c = [(i*j) for i in a for j in b]
print(c)

[20, 32, 36, 16, 40, 25, 40, 45, 20, 50, 30, 48, 54, 24, 60, 40, 64, 72, 32, 80]

# 2D List

In [32]:
#Creating 2D List using Naive Method
row , col = 2 ,3
arr = [[0]*col]*row
print(arr)

[[0, 0, 0], [0, 0, 0]]

In [33]:
# 2d array using list comprehension

rows, cols = (5, 5)
arr = [[0 for i in range(cols)] for j in range(rows)]
print(arr)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [45]:
row , col = (4, 4)
arr = [[i*j for i in range(col)] for j in range(row)]
print(arr)

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9]]