# Build-in Function in python

#### Built-in functions in Python are pre-defined functions provided by the Python language that can be used to perform common tasks.

# abs()
#### abs()  Return absolute value of number

In [1]:
print(abs(-458.12))

458.12

In [4]:
print(abs(34+5j)

34.36568055487916

# all()
#### The all() function returns True if all items in an iterable are true, otherwise it returns False.

If the iterable object is empty, the all() function also returns True.

In [8]:
mylist = [0, 1, 1]
x = all(mylist)

In [10]:
x = ( 1,0 ,1)
y = (1 ,1,1)
b = all(y)
a = all(x)
print(x , " -> ", a)
print(y , " -> ", b)

(1, 0, 1)  ->  False
(1, 1, 1)  ->  True

In [11]:
my_list = ["anayan" , "Pratik" , "pihu" , 45]
ans= all(my_list)
print(ans)

True

# ascii()
#### The ascii() function returns a readable version of any object (Strings, Tuples, Lists, etc).

#### The ascii() function will replace any non-ascii characters with escape characters:

In [12]:
num = 45
a = ascii(num)
print(a)

45

In [14]:
string = "harshali"
mylist =  ["anayan" , "Pratik" , "pihu" , 45]
print(ascii(string))
print(ascii(mylist))

'harshali'
['anayan', 'Pratik', 'pihu', 45]

In [16]:
value = "~"
print(ascii(value))

'~'

# bin() , hex(), oct()

#### The bin() function returns the binary version of a specified integer.

The result will always start with the prefix 0b

#### The oct() function converts an integer into an octal string.

Octal strings in Python are prefixed with 0o

#### The hex() function converts the specified number into a hexadecimal value.

The returned string always starts with the prefix 0x.

In [22]:
def numberConversion(num):
    binary = bin(num)
    hexa = hex(num)
    octal = oct(num)

    print("binary conversion " , binary)
    print("hexa Decimal conversion " , hexa)
    print("octal conversion " , octal)
    
num = int(input("enter any number : "))
numberConversion(num)

enter any number : 11
binary conversion  0b1011
hexa Decimal conversion  0xb
octal conversion  0o13

# min() , max() , sum()

#### The max() function returns the item with the highest value, or the item with the highest value in an iterable.

If the values are strings, an alphabetically comparison is done.

#### The min() function returns the item with the lowest value, or the item with the lowest value in an iterable.

If the values are strings, an alphabetically comparison is done

#### The sum() function returns a number, the sum of all items in an iterable.

In [24]:
x = [45 , 85 , 65 , 8 , -9 , 1]

print("minimum number : " , min(x))
print("maximum number : " , max(x))
print("sum of numbers : " , sum(x))

minimum number :  -9
maximum number :  85
sum of numbers :  195

In [27]:
print(sum(4, 5 ,5 ,10))

TypeError: sum() takes at most 2 arguments (4 given)

In [28]:
print(sum(45 , 10))

TypeError: 'int' object is not iterable

In [29]:
myList = (45 , 10)
print(sum(myList))

55

from the above cells we understand that sum() function perform well on the iterable object like list, tuples, dic